<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link
      id="pagestyle"
      href="../../assets/css/soft-ui-dashboard.css?v=1.0.7"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      id="pagestyle"
      href="../../assets/css/soft-ui-dashboard.css?v=1.0.7"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/nav.css">
    <link rel="stylesheet" href="../../public/css/nav.css">
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>
<body class="g-sidenav-show bg-gray-100">
    <aside
      class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-l my-3 fixed-start ms-3"
      id="sidenav-main"
    >
      <div class="sidenav-header">
          <img
            src="../../public/img/newcrabs-logo.png"
            class="navbar-brand-img h-50"
            alt="main_logo"
          />
        </a>
      </div>

      <div class="collapse navbar-collapse w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
              >
              <img src="../../public/img/admin-nav/dashboard-deactive.svg">

              </div>
              
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
              >
              <img src="../../public/img/admin-nav/driver-deactive.svg">
              </div>
              <span class="nav-link-text ms-1">Driver</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
              >
              <img src="../../public/img/admin-nav/center-officer-deactive.svg">
              </div>
              <span class="nav-link-text ms-1">Centre Officer</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
              >
              <img src="../../public/img/admin-nav/voucher-deactive.svg">
              </div>
              <span class="nav-link-text ms-1">Voucher</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
              >
              <img src="../../public/img/admin-nav/fare-rate-deactive.svg">
              </div>
              <span class="nav-link-text ms-1">Fare Rate</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="flex mx-3 flex-end">
        <div class="btn bg-primary mt-3 w-100 text-white" >Log out</div>
      </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
              <!-- Navbar -->
      <nav
              class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
              id="navbarBlur"
              navbar-scroll="true"
            >
              <div class="container-fluid py-1 px-3">
                
                <div
                  class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
                  id="navbar"
                >
                  <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group">
                      <span class="input-group-text text-body"
                        ><i class="fas fa-search" aria-hidden="true"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Type here..."
                      />
                    </div>
                  </div>
                  <ul class="navbar-nav justify-content-end ">
                  
                    <li class="nav-item d-flex align-items-center pe-md-3">
                      <div
                      class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center" style="cursor: pointer; background-color: white;" onmouseover="this.style.backgroundColor='lightgray';" onmouseout="this.style.backgroundColor='white';"
                      >
                       <img  src="../../public/img/admin-nav/avatar.svg" alt="">
                      </div>
                    </li>
                  
                      
                    </li>
                  </ul>
                </div>
              </div>
      </nav>
      <div class="container-fluid py-4">
        <div class="content">
          
          <div class="data">
            <div class="tab-titles">
              <h3
                class="tab-links active-link mb-3"
                onclick="opentab('profile')"
              >
                Profile Setting
              </h3>
            </div>
            <div class="tab-contents active-tab" id="profile">
              <div class="row">
                <div class="col-9 flex flex-center">
                  <form
                    id="formAccountSettings form-check"
                    onsubmit="return false"
                  >
                    <div class="col">
                      <div class="mb-3 col-md-6">
                        <label for="new-firstname" class="form-label"
                          >Full Name</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          id="new-firstname"
                          name="new-firstname"
                          placeholder="Nguyễn Khang Hy"
                          autofocus
                        />
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-3">
                          <label class="form-label" for="GenderSelect"
                            >Gender</label
                          >
                          <select class="form-select" name="GenderSelect" id="GenderSelect">
                            <option value="male" selected>Male</option>
                            <option value="female">Female</option>
                            <option value="others"> Others</option>
                          </select>
                        </div>
                        <div class="mb-3 col-md-3">
                          <label for="dob-user" class="form-label"
                            >Date of Birth</label
                          >
                          <input
                            class="form-control"
                            type="date"
                            id="dob-user"
                            name="doc-user"
                            value="2003-01-01"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="mt-2">
                      <button
                  
                        type="submit"
                        class="btn bg-primary text-white"
                        onclick="updateUserProfile(this)"
                      >
                        Save changes
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
            
    </main>
</body>
<script src="../../public/js/driver-chart.js"></script>
<script src="../../public/js/revenue-line-chart.js"></script>
<script src="../../public/js/location-bar.js""></script>
<script src="../../assets/js/core/popper.min.js"></script>
<script src="../../assets/js/core/bootstrap.min.js"></script>
<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="../../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
<script src="../../public/js/admin-profile.js"></script>
</html>