<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h3 class="font-weight-bolder mb-0">{{pageName}}</h3>
        </nav>
        <ul class="navbar-nav justify-content-end ">

            <li class="nav-item d-flex align-items-center pe-md-3">
                <a href="/profile-admin" class="d-flex align-items-center" style="text-decoration: none;">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
                        style="cursor: pointer; background-color: white;"
                        onmouseover="this.style.backgroundColor='lightgray';"
                        onmouseout="this.style.backgroundColor='white';">
                        <img src="../../public/img/admin-nav/avatar.svg" alt="">
                    </div>
                </a>

            </li>

            </li>
        </ul>
    </div>
</nav>